vendor/
node_modules/
.env
.git/
.dockerignore
Dockerfile
storage/*.key
storage/app/private/*
storage/app/public/*
!storage/**/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
bootstrap/cache/*
.phpunit.result.cache
.coverage
coverage/
htmlcov/
*.log
npm-debug.log
yarn-error.log
